
        <form [formGroup]="myForm" class="form" role="form" autocomplete="off" >
            <mat-card class="remove-padding">    
                <mat-card-title class="mat-card-headertitle-background">LUST Site</mat-card-title>
                <mat-card-content > 
                    <div class="form-row full-width fielddefaultbackground remove-margin-left">
                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <mat-form-field class="fieldshover">
                                <mat-label class="control-label" for="siteAddress">Site Address</mat-label>
                                <input matInput placeholder="Site Address" formControlName="siteAddress">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <mat-form-field class="fieldshover">
                                <mat-label class="control-label" for="siteCity">Site City</mat-label>
                                <input matInput placeholder="Site City" formControlName="siteCity">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                            <mat-form-field class="fieldshover">
                                <mat-label class="control-label" for="siteZipCode">Site ZipCode</mat-label>
                                <input matInput placeholder="Site ZipCode" formControlName="siteZipCode">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content> 
            </mat-card>

            <mat-card class="remove-padding">
                <mat-card-content>
                    <mat-card-title class="mat-card-headertitle-background fielddefaultbackground">LUST Contact</mat-card-title>
                    <div class="incident">
                        <div class="loading-indicator" *ngIf="lustContactDataSource.lustContactsLoading$ | async">
                            <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
                        </div>
                        <div class="responsive-table">
                            <mat-table class="child-table" [dataSource]="lustContactDataSource"
                                        matSort  matSortActive="contactName" matSortDirection="asc" matSortDisableClear >
                                <ng-container matColumnDef="contactName">
                                    <mat-header-cell *matHeaderCellDef >Name</mat-header-cell>
                                    <mat-cell *matCellDef="let hotcContacts">{{hotcContacts.contactName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="organization">
                                    <mat-header-cell *matHeaderCellDef >Organization</mat-header-cell>
                                    <mat-cell *matCellDef="let hotcContacts">{{hotcContacts.organization}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="address">
                                    <mat-header-cell *matHeaderCellDef >Address</mat-header-cell>
                                    <mat-cell *matCellDef="let hotcContacts">{{hotcContacts.address}}</mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
                                <!-- <mat-row *matRowDef="let row; columns: displayedColumns; let entry"  -->
                                <mat-row *matRowDef="let row; columns: displayedColumns; " 
                                    [ngClass]="{'highlight': selectedRowIndex == row.contactName}"
                                    (click)="onRowClicked(row)"></mat-row>
                            </mat-table>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>


            <mat-card class="remove-padding">    
                <mat-card-content>  
                    <div class="form-row full-width fielddefaultbackground remove-margin-left">
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                            <mat-form-field class="fieldshover">
                                <mat-label class="control-label" for="firstName">First Name</mat-label>
                                <input matInput placeholder="First Name" formControlName="firstName">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                            <mat-form-field class="fieldshover">
                                <mat-label class="control-label" for="lastName">Last Name</mat-label>
                                <input matInput placeholder="Last Name" formControlName="lastName">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <mat-form-field class="fieldshover">
                                <mat-label class="control-label" for="company">Company</mat-label>
                                <input matInput placeholder="Company" formControlName="company">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row full-width fielddefaultbackground remove-margin-left">
                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <mat-form-field class="fieldshover">
                                <mat-label class="control-label" for="firstName">Street</mat-label>
                                <input matInput placeholder="Street" formControlName="street">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                            <mat-form-field class="fieldshover">
                                <mat-label class="control-label" for="City">City</mat-label>
                                <input matInput placeholder="City" formControlName="city">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-xs-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
                            <mat-form-field class="fieldshover">
                                <mat-label class="control-label" for="state">State</mat-label>
                                <input matInput placeholder="State" formControlName="state">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-xs-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
                            <mat-form-field class="fieldshover">
                                <mat-label class="control-label" for="state">Zip</mat-label>
                                <input matInput placeholder="Zip" formControlName="zip">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content> 
            </mat-card>
        </form>

