<!-- Main Toolbar of an App -->    
<!-- <mat-toolbar color="primary">    
  <span>OLPRR Search </span>    
  <span class="demo-toolbar"></span>    
  
</mat-toolbar>     -->

<div class="container-fluid"> 
  <mat-card >    
    <!-- Title of an Card -->    
    <mat-card-title class="mat-card-headertitle-background" > UST Search  </mat-card-title>  
    <mat-card-content>    
      <form [formGroup]="ustSearchFilterForm" class="form-group"  role="form" autocomplete="off" method="POST"  (ngSubmit)="submitUstSearchFilterForm()">    
        <div class="form-row full-width fielddefaultbackground">
            <div class="form-group col-md-4">
            <mat-form-field class="fieldshover">
              <mat-label>Facility Id</mat-label>
              <input matInput formControlName="facilityId">
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field class="fieldshover">
              <mat-label>Facility Name</mat-label>
              <input matInput formControlName="facilityName">
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field class="fieldshover">
              <mat-label>Facility Address</mat-label>
              <input matInput formControlName="facilityAddress">
            </mat-form-field>
          </div>
        </div>
        <div class="form-row full-width fielddefaultbackground">
          <div class="form-group col-md-4">
            <mat-form-field class="fieldshover">
              <mat-label>Facility City</mat-label>
              <input class="input-group" formControlName="facilityCity" type="text" placeholder="City" aria-label="City" matInput [matAutocomplete]="autoy">
              <mat-autocomplete  #autoy="matAutocomplete">
                <mat-option *ngFor="let city of filteredCities | async" [value]="city?.placeName2">
                  {{city?.placeName}}
                </mat-option>
              </mat-autocomplete>   
            </mat-form-field>
          </div> 
          <div class="form-group col-md-4">
            <mat-form-field class="fieldshover">
              <mat-label>Facility Zip</mat-label>
              <input class="input-group" formControlName="facilityZip" type="text" placeholder="Zipcode" aria-label="Zipcode" matInput [matAutocomplete]="auto">
              <mat-autocomplete  #auto="matAutocomplete">
                <mat-option *ngFor="let zip of filteredZips | async" [value]="zip.zipCode1">
                  {{zip.zipCode1}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div> 
          <div class="form-group col-md-4">
            <mat-form-field class="fieldshover">
              <mat-label>Facility County</mat-label>
              <mat-select placeholder="County"  formControlName="facilityCounty">    
                <mat-option value=""> </mat-option>    
                <mat-option *ngFor="let county of counties" [value]="county?.countyName" > {{county?.countyName}}</mat-option>  
              </mat-select>  
            </mat-form-field>
          </div> 
        </div>    
        <div class="form-row full-width fielddefaultbackground">  
          <div class="col-sm-2 col-md-2 col-lg-2"> 
              <button mat-raised-button color="primary" type="submit" class="btn btn-success btn-md btn-block">Search</button>    
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2"> 
              <button mat-raised-button color="primary" type="button" class="btn btn-success btn-md btn-block" (click)="resetUstSearchFilterForm()" >Clear</button>    
          </div>    
        </div>     
      </form>    
    </mat-card-content>    
  </mat-card>  
  
  <div *ngIf="showUstSearchResultsFlag==true; then showResultComp ">  </div> 
  <ng-template #showResultComp>
    <app-ust-search-result [ustSearchFilter]="ustSearchFilter" [showSelectButton]="showSelectButton" (rowSelected)="onSelected($event)" ></app-ust-search-result>
  </ng-template>
  
</div>
  