<table style="width: 100%;">	
  <div class="no-print">
    <tr>
        <td class="col-xs-1 col-sm-3 col-md-2" style="height: 100%; text-align: left; background-color: #455B1B;  width: 15px; padding: 0px;">
          <img src="http://www.deq.state.or.us/images/elements/StateSeal.gif" alt="Oregon State Seal"/><br/>
            <a style="color:rgb(255, 255, 255)" href="tel:+5032295150">Call DEQ</a>
        </td>
              
        <td class="col-xs-6 col-sm-3 col-md-6 deq_title_format" id="DEQ_title" style="width: 35%; height: 75px; text-align: left; background-color: #455B1B; color: #fff;"> 
          <a href="http://www.oregon.gov/DEQ/" style="color: white;">Oregon Department of Environmental Quality</a>
        </td> 
        <td class="col-xs-6 col-sm-3 col-md-6 hol_title_format" id="HOL_title" style="text-align: right; background-color: #455B1B; color: white; padding-right: 10px; font-weight: bold;">OLPRR-LUST-HOTC</td>
      

    </tr> 
</div>
